body {
  background-color:azure;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: darkgray;
  border-width: 5px;
  width: 10%;
}
.table1 {
  width: 75%;
  align-items: center;
  table-layout: fixed;
}
.table2 {
  width: 25%;
  align-items: center;
  table-layout: fixed;
}
.table3 {
  width: 30%;
  align-items: center;
  table-layout: auto;
}

h1 {
  color: darkgreen ;
}
h2 {
  color: seagreen ;
}
h3 {
  color: green ;
}
