body {
  background-color:azure;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: darkgray;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: darkgreen ;
}
h2 {
  color: seagreen ;
}
h3 {
  color: green ;
}
